/* line 1, ../sass/_core.sass */
.detail {
  font-size: 0.5em;
  font-style: normal;
  padding-left: 1em;
}

/* line 6, ../sass/_core.sass */
.scroll-y {
  overflow-y: auto;
}

/* line 9, ../sass/_core.sass */
.force-scroll-y {
  overflow-y: scroll;
}

/* line 12, ../sass/_core.sass */
.debug {
  font-size: 9px;
}

/* line 15, ../sass/_core.sass */
.size_adjustable {
  display: none;
}

/* line 18, ../sass/_core.sass */
.block {
  display: block;
}

/* line 21, ../sass/_core.sass */
.hidden {
  display: none;
}

/* line 24, ../sass/_core.sass */
.nowhere {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* line 29, ../sass/_core.sass */
.left {
  float: left;
}

/* line 32, ../sass/_core.sass */
.right {
  float: left;
}

/* line 35, ../sass/_core.sass */
.bottom {
  position: absolute;
  bottom: 0;
}

/* line 39, ../sass/_core.sass */
.clear {
  clear: both;
}

/* line 42, ../sass/_core.sass */
.relative {
  position: relative;
}

/* line 45, ../sass/_core.sass */
.np_top, .np_vert {
  padding-top: 0 !important;
}

/* line 48, ../sass/_core.sass */
.np_bottom, .np_vert {
  padding-bottom: 0 !important;
}

/* line 3, ../sass/theme.sass */
#wrapper {
  width: 960px;
  margin: auto;
}
